{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="Axxs">
    <link rel="icon" href="{% static "img/favicon.ico" %}">

    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}
    
    {% compress css %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.4.1.css" %}" rel="stylesheet">
    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
    {% endif %}
    {% block extra_css %}{% endblock %}
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
    {% endcompress %}
    {% compress js %}
	<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
    {% block extra_js %}{% endblock %}
    {% endcompress %}
    {% block extra_head %}{% endblock %}
  </head>

  <body id="{% block body_id %}body{% endblock %}">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #101010;">
        <div class="container">
        <a class="navbar-brand" href="/">
        	<img src="{{ MEDIA_URL }}logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo"> 
			<span class="d-none d-md-inline">Bangladesh Anarcho Syndicalist Federation</span> <span class="d-sm-inline d-md-none d-lg-none d-xl-none">BASF</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
          {% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown.html" %}{% endblock%}
		</ul>
        </div>
		</div>
    </nav>

{% block all_content %}
<!-- Page Content -->
    <div class="container">

    {% nevercache %}
    {% if messages %}
    <div class="messages">
    {% for message in messages %}
    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    </div>
    {% endif %}
    {% endnevercache %}

    </div>

    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
        <div class="row pb-4"></div>
    <h1>{% block title %}{% endblock %}</h1>

  {% block breadcrumb_menu %}
  <ol class="breadcrumb">
    {% spaceless %}
      {% page_menu "pages/menus/breadcrumb.html" %}
    {% endspaceless %}
  </ol>
{% endblock %}

          {% block main %}{% endblock %}

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

         {% block sidebar_feature %}{% endblock %}  

  <!-- Language and logo Widget -->
          <div class="card my-4">
            <div class="card-body">
              {% nevercache %}
              {% include "includes/language_selector.html" %}
              {% endnevercache %}
              {% block right_panel %}
              {% include "pages/logobox.html" %}
              {% ifinstalled mezzanine.twitter %}
              {% include "twitter/tweets.html" %}
              {% endifinstalled %}
              {% endblock %}
            </div>
          </div>

          <!-- Donations Widget -->
          <div class="card my-4">
            <h5 class="card-header">Help us</h5>
            <div class="card-body">
        <p class="card-text">Please consider donating to help us organise and grow.</p>
              <div class="row">
        {% include "pages/donation.html" %}
              </div>
            </div>
        </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock all_content %}

    <!-- Footer -->
    <footer class="py-5" style="background-color: #101010;">
      <div class="container">
        <p class="m-0 text-center text-white">{% trans "Powered by Solidarity" %}</p>
        <p class="m-0 text-center text-white"><small>Site support contact &#110;&#111;&#103;&#111;&#100;&#115;&#064;&#110;&#111;&#109;&#097;&#115;&#116;&#101;&#114;&#115;&#046;&#111;&#114;&#103;</small></p>
      </div>
      <!-- /.container -->
    </footer>
</div>
    {% block footer_js %}
    {% include "includes/footer_scripts.html" %}
    {% endblock %}

{% render_bundle 'main' %}

  </body>

</html>
