{% load i18n pages_tags %}

{% if on_home %}
<li class="breadcrumb-item">{% trans "Home" %}</li>
{% else %}
{% for page in page_branch %}

    {% if not has_home and page.is_primary and forloop.first %}
    <li class="breadcrumb-item" id="breadcrumb-menu-home">
        <a href="{% url "home" %}">{% trans "Home" %}</a>
    </li>
    {% endif %}

    {% if page.is_current_or_ascendant %}
    {% if page.is_current %}
    <li class="breadcrumb-item active" id="breadcrumb-menu-{{ page.html_id }}">{{ page.title }}</li>
    {% else %}
    <li class="breadcrumb-item" id="breadcrumb-menu-{{ page.html_id }}">
        <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
    </li>
    {% endif %}
    {% if page.has_children %}{% page_menu page %}{% endif %}
    {% endif %}

{% endfor %}
{% endif %}
