{% load i18n pages_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

{% if branch_level == 0 %}
    {% for page in page_branch %}
    {% if not has_home and page.is_primary and forloop.first %}
    <li{% if on_home %} class="active"{% endif %} id="dropdown-menu-home">
        <a class="nav-link" href="{% url "home" %}">{% trans "Home" %}</a>
    </li>
    {% endif %}
    {% if page.in_menu %}
    <li class="nav-item {% if page.has_children_in_menu %}dropdown{% endif %}{% if page.is_current_or_ascendant %} active{% endif %}" id="{{ page.html_id }}">
        <a class="nav-link{% if page.has_children_in_menu %} dropdown-toggle{% endif %}" href="{{ page.get_absolute_url }}"{% if page.has_children_in_menu %} id="dropdown-{{ page.html_id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}>{{ page.title }}{% if page.has_children_in_menu %}<b class="caret"></b>{% endif %}</a>
            {% if page.has_children_in_menu %}<div class="dropdown-menu" aria-labelledby="dropdown-{{ page.html_id }}">{% page_menu page %}</div>{% endif %}
    </li>
    {% endif %}
    {% endfor %}

{% else %}
    {% for page in page_branch %}
    {% if page.in_menu %}
        <a class="dropdown-item" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
        {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
    {% endif %}
    {% endfor %}
{% endif %}

{% endif %}
{% endspaceless %}

