<div id='donation-button' class="mx-auto">

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  {% csrf_token %}
    <input type="hidden" name="business"
        value="jaytaafrin@gmail.com">

    <input type="hidden" name="cmd" value="_donations">

    <input type="hidden" name="item_name" value="Donation to Bangladesh ASF">
    <input type="hidden" name="currency_code" value="USD">

    <input  style="max-width: 90%" class="img-fluid justify-content-center" type="image" name="submit" src="/static/images/paypal-donate.png" alt="Donate">
    <img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >

</form>
