{% extends "pages/index.html" %}
{% load mezzanine_tags keyword_tags %}

{% block sidebar_feature %}
    <!-- sidebar_feature -->
          <div class="card my-4">
            <h5 class="card-header">{{ page.author.title}}</h5>
            <div class="card-body">
                <img class="img-fluid rounded mx-auto d-block" src="{{ MEDIA_URL }}{% thumbnail page.author.picture 300 0 %}">
				<div id="author-birth">Born: {{ page.author.date_of_birth}}</div>
				<div id="author-death">Died: {{ page.author.date_of_death}}</div>
            </div>
          </div>
{% endblock %}

{% block main %}
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
{% for book in page.author.books %}
    Name: {{ book.title }}<br/>
{% endfor %}

{% editable page.author.content %}
{{ page.author.content|richtext_filters|safe }}
{% endeditable %}

{{block.super}}
{% load keyword_tags %}

{% keywords_for book as keywords %}
{% if keywords %}
<ul>
    <li>Keywords:</li>
    {% for keyword in keywords %}
    <li><a href="{% url "books_for_keyword" keyword.slug %}">{{ keyword }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
