{% extends "pages/page.html" %}
{% load mezzanine_tags blog_tags keyword_tags pages_tags i18n staticfiles %}

{% block all_content %}
<!-- Page Content -->
    <div class="container">

    {% nevercache %}
    {% if messages %}
    <div class="messages">
    {% for message in messages %}
    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    </div>
    {% endif %}
    {% endnevercache %}

    </div>

    <div class="container">

      <div class="row">

        <!-- Main Column -->
        <div class="col-md-8">
        <div class="row pb-4"></div>
    {% if page.homepage.slides.all %}
	<!--slider-->
	<div class="card mb-4">
		<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
		  <div class="carousel-inner">
			        {% for slide in page.homepage.slides.all %}
			        <div class="carousel-item{% if forloop.first %} active{% endif %}">
			        	<img src="{{ MEDIA_URL }}{% thumbnail slide.image 750 300 %}" alt="{{slide.caption}}">
			        	  <div class="carousel-caption d-none d-md-block">
						    <h2>{{slide.caption}}</h2>
						    <p>...</p>
						  </div>	
			        </div>
			        {% endfor %}                                       
			    <div class="clear"></div>   
			</div>
		</div>
	</div>       
	<!--//slider-->
	{% endif %}

  {% block blog_recent_posts %}
  {% blog_recent_posts 1 as recent_posts %}
  {% if recent_posts %}
  {% for recent_post in recent_posts %}
    {% spaceless %}
          <div class="card flex-md-row mb-4 box-shadow h-md-300">
            <div class="card-body d-flex flex-column align-items-start">
             <strong class="d-inline-block mb-2 text-primary">{% trans "Featured Post" %}</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a>
              </h3>
              <div class="mb-1 text-muted">{{ recent_post.publish_date }} </div>
              <p class="card-text mb-auto text-justify">{{ recent_post.description|safe }}</p>
              <a href="{{ recent_post.get_absolute_url }}">Continue reading</a>
            </div>
        {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
            <img class="card-img-right flex-auto d-none d-lg-block" style="width: 300px; height: 400px;" src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 300 400 %}">
        {% endif %}
          </div>
    {% endspaceless %}
  {% endfor %}
  {% endif %}
  {% endblock %}

        <div class="row pb-4"></div>
          {% block main %}{% endblock %}

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

         {% block sidebar_feature %}{% endblock %}	

	<!-- Language and logo Widget -->
          <div class="card my-4">
            <div class="card-body">
              {% nevercache %}
              {% include "includes/language_selector.html" %}
              {% endnevercache %}
              {% block right_panel %}
              {% include "pages/logobox.html" %}
              {% ifinstalled mezzanine.twitter %}
              {% include "twitter/tweets.html" %}
              {% endifinstalled %}
              {% endblock %}
            </div>
          </div>

          <!-- Donations Widget -->
          <div class="card my-4">
            <h5 class="card-header">Help us</h5>
            <div class="card-body">
				<p class="card-text">Please consider donating to help us organise and grow.</p>
              <div class="row">
			  {% include "pages/donation.html" %}
              </div>
            </div>
	  	  </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock all_content %}
