{% load i18n %}

{% if current_page.has_previous or current_page.has_next %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
<li class="page-item{% if not current_page.has_previous %} disabled{% endif %}">
    <a class="page-link" {% if current_page.has_previous %}href="?{{ page_var }}={{ current_page.previous_page_number }}{% if querystring %}&{{ querystring }}{% endif %}"{% endif %}>Previous</a>
</li>
{% for page in current_page.visible_page_range %}
<li{% if page == current_page.number %} class="page-item active"{% endif %}>
    <a class="page-link" href="?{{ page_var }}={{ page }}{% if querystring %}&{{ querystring }}{% endif %}">{{ page }}</a>
</li>
{% endfor %}
<li class="page-item{% if not current_page.has_next %} disabled{% endif %}">
    <a class="page-link" {% if current_page.has_next %}href="?{{ page_var }}={{ current_page.next_page_number }}{% if querystring %}&{{ querystring }}{% endif %}"{% endif %}>&rarr;</a>
</li>

</ul>
</nav>
{% endif %}
