{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags %}
{% block breadcrumb_menu %}{% endblock %}
{% block sidebar_feature %}
    <!-- sidebar_feature -->
          <div class="card my-4">
            <h5 class="card-header">{{ page.author.title}}</h5>
            <div class="card-body">
                <img class="img-fluid rounded mx-auto d-block" src="{{ MEDIA_URL }}{% thumbnail page.author.picture 300 0 %}">
            </div>
			      <div class="card-footer text-muted">
                <div id="author-birth"><span class="font-weight-bold">Born</span> {{ page.author.date_of_birth}}</div>
			          <div id="author-death"><span class="font-weight-bold">Died</span> {{ page.author.date_of_death}}</div>
            </div>

          </div>
{% endblock %}

{% block main %}
    <!--  book set -->
<div class="card my-8 mb-3">
  <div class="card-header">
    Translated works of {{ page.author.title}}
  </div>
  <ul class="list-group list-group-flush">
    {% for book in page.author.books.all %}
    <li class="list-group-item"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></li>
    {% endfor %}
  </ul>
</div>
    <!--  /book set -->

{% editable page.author.content %}
{{ page.author.content|richtext_filters|safe }}
{% endeditable %}

{{block.super}}
{% load keyword_tags %}

{% keywords_for book as keywords %}
{% if keywords %}
<ul>
    <li>Keywords:</li>
    {% for keyword in keywords %}
    <li><a href="{% url "books_for_keyword" keyword.slug %}">{{ keyword }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
