{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags %}

{% block sidebar_feature %}
    <!-- sidebar_feature -->
          <div class="card my-4">
            <h5 class="card-header">{{ page.book.author }}</h5>
            <div class="card-body">
                <img class="img-fluid rounded mx-auto d-block" src="{{ MEDIA_URL }}{% thumbnail page.book.picture 300 0 %}">
                <div class="card-text" id="author-birth">Born: {{ page.author.date_of_birth}}</div>
                <div class="card-text" id="author-death">Died: {{ page.author.date_of_death}}</div>
            </div>
          </div>
{% endblock %}

{% block main %}

{% for author in book.author_list.all  %}
    Name: {{ author }}<br/>
{% endfor %}

{% editable page.book.content %}
{{ page.book.content|richtext_filters|safe }}
{% endeditable %}

{{block.super}}
{% load keyword_tags %}

{% keywords_for book as keywords %}
{% if keywords %}
<ul>
    <li>Keywords:</li>
    {% for keyword in keywords %}
    <li><a href="{% url "books_for_keyword" keyword.slug %}">{{ keyword }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

